.footer_container {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 3px;
  margin-left: 0px;
  background-color: rgb(40, 40, 40);
}

.social_icons {
  margin: 0 15px;
  cursor: pointer;
}

.social_icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social_icons a:hover {
  color: #3d25ee; /* Change color on hover */
}
.social_icons p {
  color: gray;
  font-size: 1.5rem;
}
